@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  @include center;
  justify-content: space-between;
  padding: 12px;
  width: 385px;
  height: 200px;
  border: 3px solid #7fffd4;
  border-radius: 8px;
  box-shadow: -4px 20px 25px -25px rgba(0,0,0,1);
  .profile_container {
    height: 120px;
    width: 120x;
    border: 2px dashed #bbb;
    border-radius: 25%;
  }
  .user_info {
    @include center;
    align-items: flex-start;
    height: 100%;
    flex-direction: column;
    width: 200px;
    text-align: left;
    .username {
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      color: #555;
    }
    .email {
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
      color: #777;
    }
  }
}

.loading {
  font-size: 20px;
  font-weight: 900;
  color: #fff;
  -webkit-text-stroke: 1px #fff;
  span {
    display: inline-block;
    animation: bounce 1s infinite;
    &:nth-of-type(2) {
      animation-delay: 0.25s;
    }
    &:nth-of-type(3) {
      animation-delay: 0.5s;
    }
    &:nth-of-type(4) {
      animation-delay: 0.75s;
    }
  }
}